<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kristina.service.admin.system.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="top.kristina.service.admin.system.model.entity.SysUser">
    <!--@mbg.generated-->
    <!--@Table ums_sys_user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater" jdbcType="BIGINT" property="updater" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <collection property="roles" resultMap="RoleResultMap"/>
  </resultMap>

  <resultMap id="RoleResultMap" type="top.kristina.service.admin.system.model.entity.Role">
    <id column="id" property="id"/>
    <result column="role_label" property="roleLabel"/>
    <result column="role_name" property="roleName"/>
    <result column="sort" property="sort"/>
    <result column="status" property="status"/>
    <result column="deleted" property="deleted"/>
    <result column="remark" property="remark"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, nickname, email, mobile, gender, avatar, `password`, `status`, creator, 
    create_time, updater, update_time, remark, deleted
  </sql>



  <!-- 根据用户名查询用户和角色信息  -->
  <select id="selectUserByUsername" resultMap="BaseResultMap">
    select
    u.id,u.username,u.nickname,u.email,
    u.gender,
    u.avatar,
    u.password,
    u.status,
    u.creator,
    u.updater,
    u.create_time,
    u.update_time,
    u.deleted,
    u.remark,
    r.id,
    r.role_label,
    r.role_name,
    r.sort,
    r.status,
    r.deleted,
    r.remark,
    r.create_time,
    r.update_time
    from ums_sys_user u left join ums_sys_user_role sur on u.id = sur.user_id
    left join ums_role r on sur.role_id = r.id
    where u.deleted = 0 and r.deleted = 0 and u.username = #{username}
  </select>
</mapper>